@use './sass/base';
@use './sass/components';
@use './sass/utilities';

#flex {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;

  &::after {
    content: "gg";
    width: 8px;
    height: 8px;
    border: 1px solid;
    border-color: var(--foreground-color);
    transform: rotate(45deg);
    background-color: red;
  }
}