<!DOCTYPE html>
<html lang="fr" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Back Light Server Side</title>
  <link rel="stylesheet" href="./test.css">
</head>
<body>
  @!component('components::snackbar', {})
  @!component('components::snackbar', {
    type: 'critical',
    title: 'Your account will be deleted',
    message: 'You will not be able to cancel this action',
    id: 'custom-snack',
    customClass: 'custom-snacks',
  })
</body>
</html>