$bl-prim-length-06: 0.5px;
$bl-prim-length-13: 1px;
$bl-prim-length-25: 2px;
$bl-prim-length-38: 3px;
$bl-prim-length-50: 4px;
$bl-prim-length-75: 6px;
$bl-prim-length-100: 0.5rem;
$bl-prim-length-125: 0.625rem;
$bl-prim-length-150: 0.75rem;
$bl-prim-length-175: 0.875rem;
$bl-prim-length-200: 1rem;
$bl-prim-length-250: 1.25rem;
$bl-prim-length-300: 1.5rem;
$bl-prim-length-400: 2rem;
$bl-prim-length-500: 2.5rem;
$bl-prim-length-600: 3rem;
$bl-prim-length-700: 3.5rem;
$bl-prim-length-800: 4rem;
$bl-prim-length-900: 4.5rem;
$bl-prim-length-1000: 5rem;

$bl-prim-length-infinity: 100vmax;

$bl-prim-breakpoint-large-screen: 1440px;
$bl-prim-breakpoint-medium-screen: 960px;