$bl-prim-duration-00: 0ms;
$bl-prim-duration-01: 050ms;
$bl-prim-duration-02: 100ms;
$bl-prim-duration-03: 150ms;
$bl-prim-duration-04: 200ms;
$bl-prim-duration-05: 250ms;
$bl-prim-duration-06: 300ms;
$bl-prim-duration-07: 350ms;
$bl-prim-duration-08: 400ms;
$bl-prim-duration-09: 450ms;
$bl-prim-duration-10: 500ms;
$bl-prim-duration-11: 600ms;
$bl-prim-duration-12: 700ms;
$bl-prim-duration-13: 800ms;
$bl-prim-duration-14: 900ms;
$bl-prim-duration-15: 1s;
$bl-prim-duration-16: 1.5s;
$bl-prim-duration-17: 2s;
$bl-prim-duration-18: 3s;
$bl-prim-duration-19: 4s;
$bl-prim-duration-20: 5s;

$bl-prim-timing-function-linear: linear;
$bl-prim-timing-function-ease-in: ease-in;
$bl-prim-timing-function-ease-out: ease-out;
$bl-prim-timing-function-ease-in-out: ease-in-out;