@use '../primitive' as *;

$bl-sys-shadow-offset-null: 0px;
$bl-sys-shadow-offset-xs: $bl-prim-length-06;
$bl-sys-shadow-offset-s: $bl-prim-length-13;
$bl-sys-shadow-offset-ms: $bl-prim-length-25;
$bl-sys-shadow-offset-m: $bl-prim-length-38;
$bl-sys-shadow-offset-ml: $bl-prim-length-50;
$bl-sys-shadow-offset-l: $bl-prim-length-75;
$bl-sys-shadow-offset-xl: $bl-prim-length-100;

$bl-sys-shadow-blur-null: 0px;
$bl-sys-shadow-blur-xs: $bl-prim-length-06;
$bl-sys-shadow-blur-s: $bl-prim-length-13;
$bl-sys-shadow-blur-ms: $bl-prim-length-25;
$bl-sys-shadow-blur-m: $bl-prim-length-38;
$bl-sys-shadow-blur-ml: $bl-prim-length-50;
$bl-sys-shadow-blur-l: $bl-prim-length-75;
$bl-sys-shadow-blur-xl: $bl-prim-length-100;

$bl-sys-shadow-spread-null: 0px;
$bl-sys-shadow-spread-xs: $bl-prim-length-06;
$bl-sys-shadow-spread-s: $bl-prim-length-13;
$bl-sys-shadow-spread-ms: $bl-prim-length-25;
$bl-sys-shadow-spread-m: $bl-prim-length-38;
$bl-sys-shadow-spread-ml: $bl-prim-length-50;
$bl-sys-shadow-spread-l: $bl-prim-length-75;
$bl-sys-shadow-spread-xl: $bl-prim-length-100;