@use '../primitive' as *;

$bl-sys-motion-instant: $bl-prim-duration-00;
$bl-sys-motion-fast: $bl-prim-duration-02;
$bl-sys-motion-medium: $bl-prim-duration-04;
$bl-sys-motion-slow: $bl-prim-duration-06;