@use '../primitive/' as *;

$bl-sys-size-xxs: $bl-prim-length-100;
$bl-sys-size-xs: $bl-prim-length-200;
$bl-sys-size-s: $bl-prim-length-300;
$bl-sys-size-ms: $bl-prim-length-400;
$bl-sys-size-m: $bl-prim-length-600;
$bl-sys-size-ml: $bl-prim-length-800;
$bl-sys-size-l: $bl-prim-length-1000;

$bl-sys-padding-xxs: $bl-prim-length-50;
$bl-sys-padding-xs: $bl-prim-length-100;
$bl-sys-padding-s: $bl-prim-length-150;
$bl-sys-padding-ms: $bl-prim-length-200;
$bl-sys-padding-m: $bl-prim-length-300;
$bl-sys-padding-ml: $bl-prim-length-400;
$bl-sys-padding-l: $bl-prim-length-500;
$bl-sys-padding-xl: $bl-prim-length-600;
$bl-sys-padding-xxl: $bl-prim-length-800;

$bl-sys-margin-xxs: $bl-prim-length-50;
$bl-sys-margin-xs: $bl-prim-length-100;
$bl-sys-margin-s: $bl-prim-length-150;
$bl-sys-margin-ms: $bl-prim-length-200;
$bl-sys-margin-m: $bl-prim-length-300;
$bl-sys-margin-ml: $bl-prim-length-400;
$bl-sys-margin-l: $bl-prim-length-500;
$bl-sys-margin-xl: $bl-prim-length-600;
$bl-sys-margin-xxl: $bl-prim-length-800;

$bl-sys-gap-xxs: $bl-prim-length-50;
$bl-sys-gap-xs: $bl-prim-length-100;
$bl-sys-gap-s: $bl-prim-length-150;
$bl-sys-gap-ms: $bl-prim-length-200;
$bl-sys-gap-m: $bl-prim-length-300;
$bl-sys-gap-ml: $bl-prim-length-400;
$bl-sys-gap-l: $bl-prim-length-500;
$bl-sys-gap-xl: $bl-prim-length-600;
$bl-sys-gap-xxl: $bl-prim-length-800;

$bl-sys-border-radius-xxs: $bl-prim-length-25;
$bl-sys-border-radius-xs: $bl-prim-length-50;
$bl-sys-border-radius-s: $bl-prim-length-75;
$bl-sys-border-radius-ms: $bl-prim-length-100;
$bl-sys-border-radius-m: $bl-prim-length-150;
$bl-sys-border-radius-ml: $bl-prim-length-200;
$bl-sys-border-radius-l: $bl-prim-length-250;
$bl-sys-border-radius-xl: $bl-prim-length-300;
$bl-sys-border-radius-xxl: $bl-prim-length-400;
$bl-sys-border-radius-full: $bl-prim-length-infinity;

$bl-sys-stroke-width-xs: $bl-prim-length-06;
$bl-sys-stroke-width-s: $bl-prim-length-13;
$bl-sys-stroke-width-m: $bl-prim-length-25;
$bl-sys-stroke-width-l: $bl-prim-length-38;
$bl-sys-stroke-width-xl: $bl-prim-length-50;