<!DOCTYPE html>
<html lang="fr" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Back Light Server Side</title>
  <link rel="stylesheet" href="../test.css">
</head>
<body>
  @!component('components::badge', {})
  @!component('components::button', {})
  @!component('components::checkbox', {})
  @!component('components::icon-button', {})
  @!component('components::input', {})
  @!component('components::radio-button', {})
  @!component('components::select', {})
  @!component('components::small-button', {})
  @!component('components::snackbar', {})
  @!component('components::switch', {})
</body>
</html>