<select
    name="{{name || "select-name"}}"
    class="select"
    aria-disabled="{{disabled}}"
  >
  <option value="" disabled selected>{{defaultLabel || "Select"}}</option>
  @each(option in options)
    <option value="{{option.value || ""}}">{{option.label || "Option"}}</option>
  @end
</select>