<div class="{{'switch' + (customClass ? ` ${customClass}` : '')}}">
  <input
    type="checkbox"
    id="{{id || 'switch-id'}}"
    @if(name)
      name="{{name}}"
    @end
    @if(value)
      value="{{value}}"
    @end
    @if(required)
      required
    @end
    @if(defaultChecked)
      checked
    @end
    @if(disabled)
      disabled
    @end
    @if(tabIndex)
      tabindex="{{tabIndex}}"
    @end
  />
  <label for="{{id || 'switch-id'}}">{{label || "Label"}}</label>
</div>