@use '../tokens/' as *;

@mixin background-gradient($static-color, $dynamic-color, $dynamic-color-position) {
  
  @if $dynamic-color-position == "bottom" {
    background: linear-gradient($static-color, rgba(0,0,0,0));
  }

  @if $dynamic-color-position == "top" {
    background: linear-gradient(rgba(0,0,0,0), $static-color);
  }

  background-color: $dynamic-color;
}