@use '../tokens/' as *;

$colors: (
  light: $bl-sys-color-light,
  dark: $bl-sys-color-dark,
  neutral: (
    050: $bl-sys-color-neutral-050,
    100: $bl-sys-color-neutral-100,
    200: $bl-sys-color-neutral-200,
    300: $bl-sys-color-neutral-300,
    400: $bl-sys-color-neutral-400,
    500: $bl-sys-color-neutral-500,
    600: $bl-sys-color-neutral-600,
    700: $bl-sys-color-neutral-700,
    800: $bl-sys-color-neutral-800,
    900: $bl-sys-color-neutral-900,
    950: $bl-sys-color-neutral-950,
  ),
  primary: (
    050: $bl-sys-color-primary-050,
    100: $bl-sys-color-primary-100,
    200: $bl-sys-color-primary-200,
    300: $bl-sys-color-primary-300,
    400: $bl-sys-color-primary-400,
    500: $bl-sys-color-primary-500,
    600: $bl-sys-color-primary-600,
    700: $bl-sys-color-primary-700,
    800: $bl-sys-color-primary-800,
    900: $bl-sys-color-primary-900,
    950: $bl-sys-color-primary-950,
  ),
  secondary: (
    050: $bl-sys-color-secondary-050,
    100: $bl-sys-color-secondary-100,
    200: $bl-sys-color-secondary-200,
    300: $bl-sys-color-secondary-300,
    400: $bl-sys-color-secondary-400,
    500: $bl-sys-color-secondary-500,
    600: $bl-sys-color-secondary-600,
    700: $bl-sys-color-secondary-700,
    800: $bl-sys-color-secondary-800,
    900: $bl-sys-color-secondary-900,
    950: $bl-sys-color-secondary-950,
  ),
  tertiary: (
    050: $bl-sys-color-tertiary-050,
    100: $bl-sys-color-tertiary-100,
    200: $bl-sys-color-tertiary-200,
    300: $bl-sys-color-tertiary-300,
    400: $bl-sys-color-tertiary-400,
    500: $bl-sys-color-tertiary-500,
    600: $bl-sys-color-tertiary-600,
    700: $bl-sys-color-tertiary-700,
    800: $bl-sys-color-tertiary-800,
    900: $bl-sys-color-tertiary-900,
    950: $bl-sys-color-tertiary-950,
  ),
  info: (
    050: $bl-sys-color-info-050,
    100: $bl-sys-color-info-100,
    200: $bl-sys-color-info-200,
    300: $bl-sys-color-info-300,
    400: $bl-sys-color-info-400,
    500: $bl-sys-color-info-500,
    600: $bl-sys-color-info-600,
    700: $bl-sys-color-info-700,
    800: $bl-sys-color-info-800,
    900: $bl-sys-color-info-900,
    950: $bl-sys-color-info-950,
  ),
  success: (
    050: $bl-sys-color-success-050,
    100: $bl-sys-color-success-100,
    200: $bl-sys-color-success-200,
    300: $bl-sys-color-success-300,
    400: $bl-sys-color-success-400,
    500: $bl-sys-color-success-500,
    600: $bl-sys-color-success-600,
    700: $bl-sys-color-success-700,
    800: $bl-sys-color-success-800,
    900: $bl-sys-color-success-900,
    950: $bl-sys-color-success-950,
  ),
  warning: (
    050: $bl-sys-color-warning-050,
    100: $bl-sys-color-warning-100,
    200: $bl-sys-color-warning-200,
    300: $bl-sys-color-warning-300,
    400: $bl-sys-color-warning-400,
    500: $bl-sys-color-warning-500,
    600: $bl-sys-color-warning-600,
    700: $bl-sys-color-warning-700,
    800: $bl-sys-color-warning-800,
    900: $bl-sys-color-warning-900,
    950: $bl-sys-color-warning-950,
  ),
  critical: (
    050: $bl-sys-color-critical-050,
    100: $bl-sys-color-critical-100,
    200: $bl-sys-color-critical-200,
    300: $bl-sys-color-critical-300,
    400: $bl-sys-color-critical-400,
    500: $bl-sys-color-critical-500,
    600: $bl-sys-color-critical-600,
    700: $bl-sys-color-critical-700,
    800: $bl-sys-color-critical-800,
    900: $bl-sys-color-critical-900,
    950: $bl-sys-color-critical-950,
  )
);

$opacities: (
  light: (
    10: $bl-sys-color-light-opacity-10,
    20: $bl-sys-color-light-opacity-20,
    30: $bl-sys-color-light-opacity-30,
    40: $bl-sys-color-light-opacity-40,
    50: $bl-sys-color-light-opacity-50,
    60: $bl-sys-color-light-opacity-60,
    70: $bl-sys-color-light-opacity-70,
    80: $bl-sys-color-light-opacity-80,
    90: $bl-sys-color-light-opacity-90,
  ),
  dark: (
    10: $bl-sys-color-dark-opacity-10,
    20: $bl-sys-color-dark-opacity-20,
    30: $bl-sys-color-dark-opacity-30,
    40: $bl-sys-color-dark-opacity-40,
    50: $bl-sys-color-dark-opacity-50,
    60: $bl-sys-color-dark-opacity-60,
    70: $bl-sys-color-dark-opacity-70,
    80: $bl-sys-color-dark-opacity-80,
    90: $bl-sys-color-dark-opacity-90,
  ),
  neutral: (
    20: $bl-sys-color-neutral-opacity-20,
    40: $bl-sys-color-neutral-opacity-40,
    60: $bl-sys-color-neutral-opacity-60,
    80: $bl-sys-color-neutral-opacity-80,
  ),
  primary: (
    20: $bl-sys-color-primary-opacity-20,
    40: $bl-sys-color-primary-opacity-40,
    60: $bl-sys-color-primary-opacity-60,
    80: $bl-sys-color-primary-opacity-80,
  ),
  secondary: (
    20: $bl-sys-color-secondary-opacity-20,
    40: $bl-sys-color-secondary-opacity-40,
    60: $bl-sys-color-secondary-opacity-60,
    80: $bl-sys-color-secondary-opacity-80,
  ),
  tertiary: (
    20: $bl-sys-color-tertiary-opacity-20,
    40: $bl-sys-color-tertiary-opacity-40,
    60: $bl-sys-color-tertiary-opacity-60,
    80: $bl-sys-color-tertiary-opacity-80,
  ),
  info: (
    20: $bl-sys-color-info-opacity-20,
    40: $bl-sys-color-info-opacity-40,
    60: $bl-sys-color-info-opacity-60,
    80: $bl-sys-color-info-opacity-80,
  ),
  success: (
    20: $bl-sys-color-success-opacity-20,
    40: $bl-sys-color-success-opacity-40,
    60: $bl-sys-color-success-opacity-60,
    80: $bl-sys-color-success-opacity-80,
  ),
  warning: (
    20: $bl-sys-color-warning-opacity-20,
    40: $bl-sys-color-warning-opacity-40,
    60: $bl-sys-color-warning-opacity-60,
    80: $bl-sys-color-warning-opacity-80,
  ),
  critical: (
    20: $bl-sys-color-critical-opacity-20,
    40: $bl-sys-color-critical-opacity-40,
    60: $bl-sys-color-critical-opacity-60,
    80: $bl-sys-color-critical-opacity-80,
  )
)