@use '../tokens/' as *;

@mixin shadow-1 {
  box-shadow: $bl-sys-shadow-offset-ms $bl-sys-shadow-offset-ms $bl-sys-shadow-blur-xl $bl-sys-shadow-spread-null $bl-sys-color-dark-opacity-20;
} 

@mixin shadow-2 {
  box-shadow: $bl-sys-shadow-offset-ms $bl-sys-shadow-offset-ms $bl-sys-shadow-blur-xl $bl-sys-shadow-spread-s $bl-sys-color-dark-opacity-30;
}

@mixin shadow-3 {
  box-shadow: $bl-sys-shadow-offset-ms $bl-sys-shadow-offset-ms $bl-sys-shadow-blur-xl $bl-sys-shadow-spread-ms $bl-sys-color-dark-opacity-40;
}