@use '../tokens' as *;

$layout-mobile-margin: 1.5rem;
$layout-gutter-width: 1.5rem;

@mixin get-column-width($number-of-columns) {
  --got-width: calc($number-of-columns * var(--layout-colomn-width) + ($number-of-columns - 1) * $layout-gutter-width)
}

@mixin get-column-space($number-of-columns) {
  --got-space: calc($number-of-columns * var(--layout-colomn-width) + ($number-of-columns + 1) * $layout-gutter-width)
}