@use '../tokens/' as *;

$sizes: (
  xxs: $bl-sys-size-xxs,
  xs: $bl-sys-size-xs,
  s: $bl-sys-size-s,
  ms: $bl-sys-size-ms,
  m: $bl-sys-size-m,
  ml: $bl-sys-size-ml,
  l: $bl-sys-size-l,
);

$paddings: (
  xxs: $bl-sys-padding-xxs,
  xs: $bl-sys-padding-xs,
  s: $bl-sys-padding-s,
  ms: $bl-sys-padding-ms,
  m: $bl-sys-padding-m,
  ml: $bl-sys-padding-ml,
  l: $bl-sys-padding-l,
  xl: $bl-sys-padding-xl,
  xxl: $bl-sys-padding-xxl,
);

$margins: (
  xxs: $bl-sys-margin-xxs,
  xs: $bl-sys-margin-xs,
  s: $bl-sys-margin-s,
  ms: $bl-sys-margin-ms,
  m: $bl-sys-margin-m,
  ml: $bl-sys-margin-ml,
  l: $bl-sys-margin-l,
  xl: $bl-sys-margin-xl,
  xxl: $bl-sys-margin-xxl,
);

$border-radiuses: (
  xxs: $bl-sys-border-radius-xxs,
  xs: $bl-sys-border-radius-xs,
  s: $bl-sys-border-radius-s,
  ms: $bl-sys-border-radius-ms,
  m: $bl-sys-border-radius-m,
  ml: $bl-sys-border-radius-ml,
  l: $bl-sys-border-radius-l,
  xl: $bl-sys-border-radius-xl,
  xxl: $bl-sys-border-radius-xxl,
  full: $bl-sys-border-radius-full,
);

$stroke-widths: (
  xs: $bl-sys-stroke-width-xs,
  s: $bl-sys-stroke-width-s,
  m: $bl-sys-stroke-width-m,
  l: $bl-sys-stroke-width-l,
  xl: $bl-sys-stroke-width-xl,
);