@use '../tokens/' as *;

@mixin display() {
  font-family: $bl-sys-font-family-headings;
  font-weight: $bl-prim-font-weight-bold;
  letter-spacing: $bl-prim-letter-spacing-null;
  font-size: $bl-sys-font-size-l;
  line-height: $bl-sys-line-height-l;

  @media (min-width: $bl-prim-breakpoint-medium-screen) {
    font-size: $bl-sys-font-size-xl;
    line-height: $bl-sys-line-height-xl;
  }

  @media (min-width: $bl-prim-breakpoint-large-screen) {
    font-size: $bl-sys-font-size-xxl;
    line-height: $bl-sys-line-height-xxl;
  }
}

@mixin headline-1() {
  font-family: $bl-sys-font-family-headings;
  font-weight: $bl-prim-font-weight-semi-bold;
  letter-spacing: $bl-prim-letter-spacing-null;
  font-size: $bl-sys-font-size-ml;
  line-height: $bl-sys-line-height-ml;

  @media (min-width: $bl-prim-breakpoint-medium-screen) {
    font-size: $bl-sys-font-size-l;
    line-height: $bl-sys-line-height-l;
  }

  @media (min-width: $bl-prim-breakpoint-large-screen) {
    font-size: $bl-sys-font-size-xl;
    line-height: $bl-sys-line-height-xl;
  }
}

@mixin headline-2() {
  font-family: $bl-sys-font-family-headings;
  font-weight: $bl-prim-font-weight-medium;
  letter-spacing: $bl-prim-letter-spacing-null;
  font-size: $bl-sys-font-size-m;
  line-height: $bl-sys-line-height-m;

  @media (min-width: $bl-prim-breakpoint-medium-screen) {
    font-size: $bl-sys-font-size-ml;
    line-height: $bl-sys-line-height-ml;
  }

  @media (min-width: $bl-prim-breakpoint-large-screen) {
    font-size: $bl-sys-font-size-l;
    line-height: $bl-sys-line-height-l;
  }
}

@mixin headline-3() {
  font-family: $bl-sys-font-family-headings;
  font-weight: $bl-prim-font-weight-regular;
  letter-spacing: $bl-prim-letter-spacing-null;
  font-size: $bl-sys-font-size-ml;
  line-height: $bl-sys-line-height-ml;

  @media (min-width: $bl-prim-breakpoint-medium-screen) {
    font-size: $bl-sys-font-size-m;
    line-height: $bl-sys-line-height-m;
  }

  @media (min-width: $bl-prim-breakpoint-large-screen) {
    font-size: $bl-sys-font-size-ms;
    line-height: $bl-sys-line-height-ms;
  }
}

@mixin title-1() {
  font-family: $bl-sys-font-family-body;
  font-weight: $bl-prim-font-weight-bold;
  letter-spacing: $bl-prim-letter-spacing-null;
  font-size: $bl-sys-font-size-ms;
  line-height: $bl-sys-line-height-ms;

  @media (min-width: $bl-prim-breakpoint-medium-screen) {
    font-size: $bl-sys-font-size-m;
    line-height: $bl-sys-line-height-m;
  }
}

@mixin title-2() {
  font-family: $bl-sys-font-family-body;
  font-weight: $bl-prim-font-weight-bold;
  letter-spacing: $bl-prim-letter-spacing-null;
  font-size: $bl-sys-font-size-xs;
  line-height: $bl-sys-line-height-xs;
  
  @media (min-width: $bl-prim-breakpoint-medium-screen) {
    font-size: $bl-sys-font-size-ms;
    line-height: $bl-sys-line-height-ms;
  }
}

@mixin subtitle-1() {
  font-family: $bl-sys-font-family-body;
  font-weight: $bl-prim-font-weight-light;
  letter-spacing: $bl-prim-letter-spacing-null;
  font-size: $bl-sys-font-size-xs;
  line-height: $bl-sys-line-height-xs;

  @media (min-width: $bl-prim-breakpoint-medium-screen) {
    font-size: $bl-sys-font-size-ms;
    line-height: $bl-sys-line-height-ms;
  }
}

@mixin subtitle-2() {
  font-family: $bl-sys-font-family-body;
  font-weight: $bl-prim-font-weight-light;
  letter-spacing: $bl-prim-letter-spacing-null;
  font-size: $bl-sys-font-size-xxs;
  line-height: $bl-sys-line-height-xxs;

  @media (min-width: $bl-prim-breakpoint-medium-screen) {
    font-size: $bl-sys-font-size-s;
    line-height: $bl-sys-line-height-s;
  }
}

@mixin label-1() {
  font-family: $bl-sys-font-family-body;
  font-weight: $bl-prim-font-weight-semi-bold;
  letter-spacing: $bl-prim-letter-spacing-positive;
  font-size: $bl-sys-font-size-s;
  line-height: $bl-sys-line-height-s;
}

@mixin label-2() {
  font-family: $bl-sys-font-family-body;
  font-weight: $bl-prim-font-weight-semi-bold;
  letter-spacing: $bl-prim-letter-spacing-positive;
  font-size: $bl-sys-font-size-xs;
  line-height: $bl-sys-line-height-xs;
}

@mixin body-1-strong() {
  font-family: $bl-sys-font-family-body;
  font-weight: $bl-prim-font-weight-extra-bold;
  letter-spacing: $bl-prim-letter-spacing-null;
  font-size: $bl-sys-font-size-xs;
  line-height: $bl-sys-line-height-m;

  @media (min-width: $bl-prim-breakpoint-medium-screen) {
    font-size: $bl-sys-font-size-s;
    line-height: $bl-sys-line-height-ml;
  }
}

@mixin body-1() {
  font-family: $bl-sys-font-family-body;
  font-weight: $bl-prim-font-weight-medium;
  letter-spacing: $bl-prim-letter-spacing-null;
  font-size: $bl-sys-font-size-xs;
  line-height: $bl-sys-line-height-m;

  @media (min-width: $bl-prim-breakpoint-medium-screen) {
    font-size: $bl-sys-font-size-s;
    line-height: $bl-sys-line-height-ml;
  }
}

@mixin body-2-strong() {
  font-family: $bl-sys-font-family-body;
  font-weight: $bl-prim-font-weight-bold;
  letter-spacing: $bl-prim-letter-spacing-null;
  font-size: $bl-sys-font-size-xxxs;
  line-height: $bl-sys-line-height-ms;

  @media (min-width: $bl-prim-breakpoint-medium-screen) {
    font-size: $bl-sys-font-size-xs;
    line-height: $bl-sys-line-height-m;
  }
}

@mixin body-2() {
  font-family: $bl-sys-font-family-body;
  font-weight: $bl-prim-font-weight-regular;
  letter-spacing: $bl-prim-letter-spacing-null;
  font-size: $bl-sys-font-size-xxxs;
  line-height: $bl-sys-line-height-ms;

  @media (min-width: $bl-prim-breakpoint-medium-screen) {
    font-size: $bl-sys-font-size-xs;
    line-height: $bl-sys-line-height-m;
  }
}

@mixin quiet-1() {
  font-family: $bl-sys-font-family-body;
  font-weight: $bl-prim-font-weight-regular;
  letter-spacing: $bl-prim-letter-spacing-null;
  font-size: $bl-sys-font-size-xxxs;
  line-height: $bl-sys-line-height-xs;

  @media (min-width: $bl-prim-breakpoint-medium-screen) {
    font-size: $bl-sys-font-size-xxs;
    line-height: $bl-sys-line-height-ms;
  }
}

@mixin quiet-2() {
  font-family: $bl-sys-font-family-body;
  font-weight: $bl-prim-font-weight-regular;
  letter-spacing: $bl-prim-letter-spacing-null;
  font-size: $bl-sys-font-size-xxxs;
  line-height: $bl-sys-line-height-xs;
}