@use '../tokens/' as *;

@mixin website-title() {
  font-family: $bl-sys-font-family-headings;
  font-weight: $bl-prim-font-weight-black;
  font-size: $bl-sys-font-size-l;
  line-height: $bl-sys-line-height-ms;
  letter-spacing: $bl-sys-letter-spacing-negative-m;

  @media (min-width: $bl-prim-breakpoint-small-screen) {
    font-size: 12rem;
    line-height: 12rem;
    letter-spacing: $bl-sys-letter-spacing-negative-m;
  }
}

@mixin website-subtitle() {
  font-family: $bl-sys-font-family-body;
  font-weight: $bl-prim-font-weight-light;
  font-size: $bl-sys-font-size-m;
  line-height: $bl-sys-line-height-xs;
  letter-spacing: $bl-sys-letter-spacing-null;

  @media (min-width: $bl-prim-breakpoint-small-screen) {
    font-size: $bl-sys-font-size-xl;
    line-height: $bl-sys-line-height-m;
    letter-spacing: $bl-sys-letter-spacing-null;
  }
}

@mixin display() {
  font-family: $bl-sys-font-family-headings;
  font-weight: $bl-prim-font-weight-bold;
  font-size: $bl-sys-font-size-ml;
  line-height: $bl-sys-line-height-s;
  letter-spacing: $bl-sys-letter-spacing-negative-s;

  @media (min-width: $bl-prim-breakpoint-small-screen) {
    font-size: $bl-sys-font-size-xxl;
    line-height: $bl-sys-line-height-l;
    letter-spacing: $bl-sys-letter-spacing-negative-m;
  }
}

@mixin headline-1() {
  font-family: $bl-sys-font-family-headings;
  font-weight: $bl-prim-font-weight-semi-bold;
  font-size: $bl-sys-font-size-m;
  line-height: $bl-sys-line-height-xs;
  letter-spacing: $bl-sys-letter-spacing-null;

  @media (min-width: $bl-prim-breakpoint-small-screen) {
    font-size: $bl-sys-font-size-xxl;
    line-height: $bl-sys-line-height-l;
  }
}

@mixin headline-2() {
  font-family: $bl-sys-font-family-headings;
  font-weight: $bl-prim-font-weight-medium;
  font-size: $bl-sys-font-size-ms;
  line-height: $bl-sys-line-height-xs;
  letter-spacing: $bl-sys-letter-spacing-null;

  @media (min-width: $bl-prim-breakpoint-small-screen) {
    font-size: $bl-sys-font-size-l;
    line-height: $bl-sys-line-height-ms;
  }
}

@mixin headline-3() {
  font-family: $bl-sys-font-family-headings;
  font-weight: $bl-prim-font-weight-regular;
  font-size: $bl-sys-font-size-ms;
  line-height: $bl-sys-line-height-xs;
  letter-spacing: $bl-sys-letter-spacing-null;

  @media (min-width: $bl-prim-breakpoint-small-screen) {
    font-size: $bl-sys-font-size-ml;
    line-height: $bl-sys-line-height-s;
  }
}

@mixin title-1() {
  font-family: $bl-sys-font-family-body;
  font-weight: $bl-prim-font-weight-bold;
  font-size: $bl-sys-font-size-m;
  line-height: $bl-sys-line-height-xs;
  letter-spacing: $bl-sys-letter-spacing-null;

  @media (min-width: $bl-prim-breakpoint-small-screen) {
    font-size: $bl-sys-font-size-ml;
    line-height: $bl-sys-line-height-s;
  }
}

@mixin title-2() {
  font-family: $bl-sys-font-family-body;
  font-weight: $bl-prim-font-weight-bold;
  font-size: $bl-sys-font-size-s;
  line-height: $bl-sys-line-height-xxs;
  letter-spacing: $bl-sys-letter-spacing-null;

  @media (min-width: $bl-prim-breakpoint-small-screen) {
    font-size: $bl-sys-font-size-m;
    line-height: $bl-sys-line-height-xs;
  }
}

@mixin title-3() {
  font-family: $bl-sys-font-family-body;
  font-weight: $bl-prim-font-weight-bold;
  font-size: $bl-sys-font-size-xs;
  line-height: $bl-sys-line-height-xxs;
  letter-spacing: $bl-sys-letter-spacing-null;

  @media (min-width: $bl-prim-breakpoint-small-screen) {
    font-size: $bl-sys-font-size-ms;
    line-height: $bl-sys-line-height-xs;
  }
}

@mixin label-1() {
  font-family: $bl-sys-font-family-body;
  font-weight: $bl-prim-font-weight-semi-bold;
  font-size: $bl-sys-font-size-s;
  line-height: $bl-sys-line-height-xxs;
  letter-spacing: $bl-sys-letter-spacing-positive-xs;
}

@mixin label-2() {
  font-family: $bl-sys-font-family-body;
  font-weight: $bl-prim-font-weight-semi-bold;
  font-size: $bl-sys-font-size-xs;
  line-height: $bl-sys-line-height-xxs;
  letter-spacing: $bl-sys-letter-spacing-positive-xs;
}

@mixin label-3() {
  font-family: $bl-sys-font-family-body;
  font-weight: $bl-prim-font-weight-semi-bold;
  font-size: $bl-sys-font-size-xxs;
  line-height: $bl-sys-line-height-xxs;
  letter-spacing: $bl-sys-letter-spacing-positive-xs;
}

@mixin body-1() {
  font-family: $bl-sys-font-family-body;
  font-weight: $bl-prim-font-weight-regular;
  font-size: $bl-sys-font-size-s;
  line-height: $bl-sys-line-height-xs;
  letter-spacing: $bl-sys-letter-spacing-null;
  
  @media (min-width: $bl-prim-breakpoint-small-screen) {
    font-size: $bl-sys-font-size-ms;
    line-height: $bl-sys-line-height-s;
  }
}

@mixin body-1-strong() {
  font-weight: $bl-prim-font-weight-extra-bold;
}

@mixin body-2() {
  font-family: $bl-sys-font-family-body;
  font-weight: $bl-prim-font-weight-regular;
  font-size: $bl-sys-font-size-xs;
  line-height: $bl-sys-line-height-xs;
  letter-spacing: $bl-sys-letter-spacing-null;

  @media (min-width: $bl-prim-breakpoint-small-screen) {
    font-size: $bl-sys-font-size-s;
    line-height: $bl-sys-line-height-xs;
  }
}

@mixin body-2-strong() {
  font-weight: $bl-prim-font-weight-bold;
}

@mixin body-3() {
  font-family: $bl-sys-font-family-body;
  font-weight: $bl-prim-font-weight-regular;
  font-size: $bl-sys-font-size-xxs;
  line-height: $bl-sys-line-height-xxs;
  letter-spacing: $bl-sys-letter-spacing-null;

  @media (min-width: $bl-prim-breakpoint-small-screen) {
    font-size: $bl-sys-font-size-xs;
    line-height: $bl-sys-line-height-xs;
  }
}

@mixin body-3-strong() {
  font-weight: $bl-prim-font-weight-bold;
}

@mixin quiet-1() {
  font-family: $bl-sys-font-family-body;
  font-weight: $bl-prim-font-weight-regular;
  font-size: $bl-sys-font-size-xxs;
  line-height: $bl-sys-line-height-xxs;
  letter-spacing: $bl-sys-letter-spacing-null;

  @media (min-width: $bl-prim-breakpoint-small-screen) {
    font-size: $bl-sys-font-size-xs;
    line-height: $bl-sys-line-height-xs;
  }
}

@mixin quiet-2() {
  font-family: $bl-sys-font-family-body;
  font-weight: $bl-prim-font-weight-regular;
  font-size: $bl-sys-font-size-xxxs;
  line-height: $bl-sys-line-height-xxs;
  letter-spacing: $bl-sys-letter-spacing-null;

  @media (min-width: $bl-prim-breakpoint-small-screen) {
    font-size: $bl-sys-font-size-xxs;
    line-height: $bl-sys-line-height-xxs;
  }
}

@mixin quiet-3() {
  font-family: $bl-sys-font-family-body;
  font-weight: $bl-prim-font-weight-regular;
  font-size: $bl-sys-font-size-xxxxs;
  line-height: $bl-sys-line-height-xxxs;
  letter-spacing: $bl-sys-letter-spacing-null;

  @media (min-width: $bl-prim-breakpoint-small-screen) {
    font-size: $bl-sys-font-size-xxxs;
    line-height: $bl-sys-line-height-xxs;
  }
}