@use '../tokens' as *;
@use '../abstract' as *;

.badge {

  html[data-theme="light"] & {
    --label-color: $bl-sys-color-neutral-800;
    @include background-gradient($bl-sys-color-neutral-opacity-40, $bl-sys-color-neutral-opacity-20, "top");
  }

  html[data-theme="dark"] & {
    --label-color: $bl-sys-color-neutral-200;
    @include background-gradient($bl-sys-color-neutral-opacity-20, $bl-sys-color-neutral-opacity-40, "bottom");
  }

  width: fit-content;
  border-radius: $bl-sys-border-radius-ms;
  padding: $bl-sys-padding-xxs $bl-sys-padding-xs;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $bl-sys-gap-xxs;
  color: var(--label-color);

  .icon {
    display: grid;
    place-items: center;
  }

  .label {
    @include label-3();
  }
}