@use '../abstract' as *;
@use '../tokens' as *;

.checkbox {

  html[data-theme="light"] & {
    --static-background-color: #{$bl-sys-color-primary-700};
    --default-dynamic-background-color: #{$bl-sys-color-primary-600};
    --hover-dynamic-background-color: #{$bl-sys-color-primary-500};
    --active-dynamic-background-color: #{$bl-sys-color-primary-400};
    --disabled-foreground-color: #{$bl-sys-color-neutral-400};
  }

  html[data-theme="dark"] & {
    --static-background-color: #{$bl-sys-color-primary-600};
    --default-dynamic-background-color: #{$bl-sys-color-primary-500};
    --hover-dynamic-background-color: #{$bl-sys-color-primary-400};
    --active-dynamic-background-color: #{$bl-sys-color-primary-300};
    --disabled-foreground-color: #{$bl-sys-color-neutral-700};
  }
  
  width: fit-content;
  display: flex;
  
  input {
    appearance: none;
    cursor: pointer;
    width: $bl-sys-size-xs;
    height: $bl-sys-size-xs;
    border-radius: $bl-sys-border-radius-xs;
    position: relative;
    display: grid;
    place-items: center;
    @include appearence-transition(all);
    @include background-gradient(var(--static-background-color), var(--default-dynamic-background-color), "top");
    
    &::before {
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 2px;
      background-color: var(--background-color);
    }

    &:hover {
      @include background-gradient(var(--static-background-color), var(--hover-dynamic-background-color), "top");
    }

    &:active {
      @include background-gradient(var(--static-background-color), var(--active-dynamic-background-color), "top");
    }
    
    &:checked {
      border: none;
      @include background-gradient(
        var(--static-background-color),
        var(--default-dynamic-background-color),
        "top"
      );

      &:hover {
        @include background-gradient(
          var(--static-background-color),
          var(--hover-dynamic-background-color),
          "top"
        );
      }

      &:active {
        @include background-gradient(
          var(--static-background-color),
          var(--active-dynamic-background-color),
          "top"
        );
      }
      
      &::before {
        width: 0;
        height: 0;
      }
      
      &::after {
        content: "";
        width: 5px;
        height: 8px;
        position: absolute;
        bottom: 4.5px;
        left: 5px;
        border: solid $bl-sys-color-light;
        border-width: 0 1.5px 1.5px 0;
        margin: auto;
        display: block;
        transform: rotate(45deg);
      }
    }

    &:disabled {
      opacity: 0.4;
    }
  }
  
  label {
    cursor: pointer;
    padding-left: $bl-sys-gap-xs;
    color: var(--foreground-color);
    @include label-2();
  }

  & > input:disabled + label {
    color: var(--disabled-foreground-color);
  }
}