@use '../abstract' as *;
@use '../tokens' as *;

$light-checkbox-label-color: $bl-sys-color-dark;
$light-checkbox-static-background-color: $bl-sys-color-primary-700;
$light-checkbox-default-dynamic-background-color: $bl-sys-color-primary-600;
$light-checkbox-hover-dynamic-background-color: $bl-sys-color-primary-500;
$light-checkbox-active-dynamic-background-color: $bl-sys-color-primary-400;

$dark-checkbox-label-color: $bl-sys-color-light;
$dark-checkbox-static-background-color: $bl-sys-color-primary-600;
$dark-checkbox-default-dynamic-background-color: $bl-sys-color-primary-500;
$dark-checkbox-hover-dynamic-background-color: $bl-sys-color-primary-400;
$dark-checkbox-active-dynamic-background-color: $bl-sys-color-primary-300;

.checkbox {
  display: flex;
  align-items: center;
  gap: $bl-sys-gap-xs;

  
  input {
    @include pointer-event-transition(all);
    cursor: pointer;
    appearance: none;
    width: $bl-sys-size-xs;
    height: $bl-sys-size-xs;
    border-radius: $bl-sys-border-radius-xs;
    position: relative;
    display: grid;
    place-items: center;

    &::before {
      content: "";
      border-radius: 2px;
      width: 12px;
      height: 12px;
    }

    &:checked {
      border: none;

      &::before {
        width: 0;
        height: 0;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 4.5px;
        left: 5px;
        margin: auto;
        display: block;
        width: 5px;
        height: 8px;
        border: solid $bl-sys-color-light;
        border-width: 0 1.5px 1.5px 0;
        transform: rotate(45deg);
      }
    }
  }

  label {
    cursor: pointer;
    @include label-3();
  }

  html[data-theme="light"] & {

    input {
      @include background-gradient($light-checkbox-static-background-color, $light-checkbox-default-dynamic-background-color, "top");
  
      &:hover {
        @include background-gradient($light-checkbox-static-background-color, $light-checkbox-hover-dynamic-background-color, "top");
      }
  
      &:active {
        @include background-gradient($light-checkbox-static-background-color, $light-checkbox-active-dynamic-background-color, "top");
      }

      &::before {
        background-color: $bl-sys-color-light;
      }
  
      &:checked {
        @include background-gradient(
          $light-checkbox-static-background-color,
          $light-checkbox-default-dynamic-background-color,
          "top"
        );
  
        &:hover {
          @include background-gradient(
            $light-checkbox-static-background-color,
            $light-checkbox-hover-dynamic-background-color,
            "top"
          );
        }
  
        &:active {
          @include background-gradient(
            $light-checkbox-static-background-color,
            $light-checkbox-active-dynamic-background-color,
            "top"
          );
        }
      }
    }

    label {
      color: $bl-sys-color-dark;
    }
  }

  html[data-theme="dark"] & {

    input {
      @include background-gradient($dark-checkbox-static-background-color, $dark-checkbox-default-dynamic-background-color, "top");
  
      &:hover {
        @include background-gradient($dark-checkbox-static-background-color, $dark-checkbox-hover-dynamic-background-color, "top");
      }
  
      &:active {
        @include background-gradient($dark-checkbox-static-background-color, $dark-checkbox-active-dynamic-background-color, "top");
      }

      &::before {
        background-color: $bl-sys-color-dark;
      }
  
      &:checked {
        @include background-gradient(
          $dark-checkbox-static-background-color,
          $dark-checkbox-default-dynamic-background-color,
          "top"
        );
  
        &:hover {
          @include background-gradient(
            $dark-checkbox-static-background-color,
            $dark-checkbox-hover-dynamic-background-color,
            "top"
          );
        }
  
        &:active {
          @include background-gradient(
            $dark-checkbox-static-background-color,
            $dark-checkbox-active-dynamic-background-color,
            "top"
          );
        }
      }
    }

    label {
      color: $bl-sys-color-light;
    }
  }
}