@use '../abstract' as *;
@use '../tokens' as *;


.radio-button {
  
  --stroke-width: #{$bl-sys-stroke-width-s};

  html[data-theme="light"] & {
    --static-background-color: #{$bl-sys-color-primary-700};
    --default-dynamic-background-color: #{$bl-sys-color-primary-600};
    --hover-dynamic-background-color: #{$bl-sys-color-primary-500};
    --active-dynamic-background-color: #{$bl-sys-color-primary-400};
  }

  html[data-theme="dark"] & {
    --static-background-color: #{$bl-sys-color-primary-400};
    --default-dynamic-background-color: #{$bl-sys-color-primary-300};
    --hover-dynamic-background-color: #{$bl-sys-color-primary-200};
    --active-dynamic-background-color: #{$bl-sys-color-primary-100};
  }

  cursor: pointer;
  display: flex;
  align-items: center;

  input {
    appearance: none;
    cursor: pointer;
    width: $bl-sys-size-xs;
    height: $bl-sys-size-xs;
    border-radius: $bl-sys-border-radius-full;
    position: relative;
    display: grid;
    place-items: center;
    @include background-gradient(
      var(--static-background-color),
      var(--default-dynamic-background-color),
      "top"
      );
    @include pointer-event-transition(all);

    &::before {
      content: "";
      width: 12px;
      height: 12px;
      border-radius: $bl-sys-border-radius-full;
      background-color: var(--background-color);
    }

    &:hover {
      @include background-gradient(
        var(--static-background-color),
        var(--hover-dynamic-background-color),
        "top"
      );
    }

    &:active {
      @include background-gradient(
        var(--static-background-color),
        var(--active-dynamic-background-color),
        "top"
      );
    }

    &:checked {
      &::after {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: $bl-sys-border-radius-full;
        @include background-gradient(
          var(--static-background-color),
          var(--default-dynamic-background-color),
          "top"
        );
        @include pointer-event-transition(all);
      }

      &:hover {
        &::after {
          @include background-gradient(
            var(--static-background-color),
            var(--hover-dynamic-background-color),
            "top"
          );
        }
      }

      &:active {
        &::after {
          @include background-gradient(
            var(--static-background-color),
            var(--active-dynamic-background-color),
            "top"
          );
        }
      }
    }
  }

  label {
    @include label-3();
    cursor: pointer;
    padding-left: $bl-sys-gap-xs;
    color: var(--foreground-color);
  }
}