@use '../tokens' as *;
@use '../abstract' as *;

.select {

  html[data-theme="light"] & {
    --button-foreground-color: #{$bl-sys-color-dark};
    --button-static-background-color: #{$bl-sys-color-neutral-050};
    --button-default-dynamic-background-color: #{$bl-sys-color-neutral-100};
    --button-hover-dynamic-background-color: #{$bl-sys-color-neutral-200};
    --button-active-dynamic-background-color: #{$bl-sys-color-neutral-300};

    --option-foreground-color: #{$bl-sys-color-dark};
    --option-hover-bottom-background-color: #{$bl-sys-color-primary-200};
    --option-hover-top-background-color: #{$bl-sys-color-primary-100};
    --option-selected-foreground-color: #{$bl-sys-color-light};
    --option-selected-static-background-color: #{$bl-sys-color-primary-800};
    --option-selected-default-dynamic-background-color: #{$bl-sys-color-primary-700};
    --option-selected-hover-dynamic-background-color: #{$bl-sys-color-primary-600};
    --option-disabled-foreground-color: #{$bl-sys-color-neutral-400};

    --dropdown-bottom-background-color: #{$bl-sys-color-neutral-100};
    --dropdown-top-background-color: #{$bl-sys-color-neutral-050};
  }

  html[data-theme="dark"] & {
    --button-foreground-color: #{$bl-sys-color-light};
    --button-static-background-color: #{$bl-sys-color-neutral-900};
    --button-default-dynamic-background-color: #{$bl-sys-color-neutral-800};
    --button-hover-dynamic-background-color: #{$bl-sys-color-neutral-700};
    --button-active-dynamic-background-color: #{$bl-sys-color-neutral-600};

    --option-foreground-color: #{$bl-sys-color-light};
    --option-hover-bottom-background-color: #{$bl-sys-color-primary-900};
    --option-hover-top-background-color: #{$bl-sys-color-primary-800};
    --option-selected-foreground-color: #{$bl-sys-color-dark};
    --option-selected-static-background-color: #{$bl-sys-color-primary-300};
    --option-selected-default-dynamic-background-color: #{$bl-sys-color-primary-200};
    --option-selected-hover-dynamic-background-color: #{$bl-sys-color-primary-100};
    --option-disabled-foreground-color: #{$bl-sys-color-neutral-600};

    --dropdown-bottom-background-color: #{$bl-sys-color-neutral-900};
    --dropdown-top-background-color: #{$bl-sys-color-neutral-800};
  }

  width: fit-content;
  position: relative;
}

.select__button {
  cursor: pointer;
  min-width: fit-content;
  border-radius: $bl-sys-border-radius-ms;
  padding: $bl-sys-padding-xs $bl-sys-padding-ms;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $bl-sys-gap-xs;
  @include pointer-event-transition(all);
  color: var(--button-foreground-color);

  html[data-theme="light"]  & {
    @include background-gradient(
      var(--button-static-background-color),
      var(--button-default-dynamic-background-color),
      "bottom"
    );

    &:hover {
      @include background-gradient(
        var(--button-static-background-color),
        var(--button-hover-dynamic-background-color),
        "bottom"
      );
    }

    &:active {
      @include background-gradient(
        var(--button-static-background-color),
        var(--button-active-dynamic-background-color),
        "bottom"
      );
    }
  }

  html[data-theme="dark"] & {
    @include background-gradient(
      var(--button-static-background-color),
      var(--button-default-dynamic-background-color),
      "top"
    );

    &:hover {
      @include background-gradient(
        var(--button-static-background-color),
        var(--button-hover-dynamic-background-color),
        "top"
      );
    }

    &:active {
      @include background-gradient(
        var(--button-static-background-color),
        var(--button-active-dynamic-background-color),
        "top"
      );
    }
  }

  .select[aria-disabled="true"] & {
    cursor: not-allowed;
    opacity: .4;

    &:hover, &:active {
      html[data-theme="light"]  & {
        @include background-gradient(
          var(--button-static-background-color),
          var(--button-default-dynamic-background-color),
          "bottom"
        );
      }

      html[data-theme="dark"] & {
        @include background-gradient(
          var(--button-static-background-color),
          var(--button-default-dynamic-background-color),
          "top"
        );
      }
    }
  }
}

.select__label {
  @include label-2();
}

.select__arrow {
  @include transform-transition();
}

.select__dropdown {
  min-width: fit-content;
  width: 100%;
  border-radius: $bl-sys-border-radius-ms;
  position: absolute;
  top: 2.5rem;
  visibility: hidden;
  overflow: hidden;
  @include background-gradient(
      var(--dropdown-bottom-background-color),
      var(--dropdown-top-background-color),
      "top"
    );
}

.select__option {
  height: fit-content;
  min-width: fit-content;
  position: relative;
  display: flex;

  input{
    appearance: none;
    position: absolute;
  }
  
  label {
    cursor: pointer;
    display: inline-block;
    min-width: 100%;
    padding-inline: $bl-sys-padding-s;
    @include body-3();
    text-wrap: nowrap;
  
    @media (max-width: $bl-prim-breakpoint-small-screen) {
      padding-block: $bl-sys-padding-xxs;
    }

    color: var(--option-foreground-color);

    &:hover {
      @include background-gradient(
        var(--option-hover-bottom-background-color),
        var(--option-hover-top-background-color),
        "top"
      );
    }
  }

  &[aria-disabled="true"] {
    pointer-events: none;

    label {
      color: var(--option-disabled-foreground-color);
    }
  }

  &:has(input:checked) {
    label {
      color: var(--option-selected-foreground-color);
      @include background-gradient(
        var(--option-selected-static-background-color),
        var(--option-selected-default-dynamic-background-color),
        "top"
      );
  
      &:hover {
        @include background-gradient(
          var(--option-selected-static-background-color),
          var(--option-selected-hover-dynamic-background-color),
          "top"
        );
      }
    }
  }
}

.select--open {
  .select__arrow {
    transform: rotate(180deg);
  }

  .select__dropdown {
    visibility: visible;
  }
}