@use '../tokens' as *;
@use '../abstract' as *;

.select {

  html[data-theme="light"] & {
    --foreground-color: #{$bl-sys-color-neutral-800};
    --active-stroke-color: #{$bl-sys-color-primary-700};
    --disabled-foreground-color: #{$bl-sys-color-neutral-300};
  }
  
  html[data-theme="dark"] & {
    --foreground-color: #{$bl-sys-color-neutral-100};
    --active-stroke-color: #{$bl-sys-color-secondary-400};
    --disabled-foreground-color: #{$bl-sys-color-neutral-700};
  }

  padding: $bl-sys-padding-xs $bl-sys-padding-ms;
  outline: $bl-sys-stroke-width-s solid;
  border-radius: $bl-sys-border-radius-ms;
  color: var(--foreground-color);
  background-color: var(--background-color);
  outline-color: var(--foreground-color);
  outline-offset: -$bl-sys-stroke-width-m;
  @include label-2();
  cursor: pointer;

  &:focus-within {
    border-color: transparent;
    outline:
      $bl-sys-stroke-width-m
      solid
      var(--active-stroke-color);
  }

  &[disabled] {
    cursor: not-allowed;
    outline-color: var(--disabled-foreground-color);
    color: var(--disabled-foreground-color);
    outline-color: var(--disabled-foreground-color);
  }

  option {
    @include label-3();
    color: $bl-sys-color-neutral-950;

    &[disabled] {
      color: $bl-sys-color-neutral-600;
    }
  }

  @media (min-width:$bl-prim-breakpoint-small-screen) {
    height: 2.5rem;
  }
}