@use '../tokens' as *;
@use '../abstract' as *;

.snackbar {
  
  --foreground-color: #{$bl-sys-color-light};
  --info-bottom-background-color: #{$bl-sys-color-info-800};
  --info-top-background-color: #{$bl-sys-color-info-700};
  --success-bottom-background-color: #{$bl-sys-color-success-800};
  --success-top-background-color: #{$bl-sys-color-success-700};
  --warning-bottom-background-color: #{$bl-sys-color-warning-800};
  --warning-top-background-color: #{$bl-sys-color-warning-700};
  --critical-bottom-background-color: #{$bl-sys-color-critical-800};
  --critical-top-background-color: #{$bl-sys-color-critical-700};

  width: 20rem;
  border-radius: $bl-sys-border-radius-l;
  padding: $bl-sys-padding-s $bl-sys-padding-ms;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--foreground-color);

  .icon-button {
    color: inherit;
  }

  @media (min-width: $bl-prim-breakpoint-medium-screen) {
    width: 26rem;
    padding: $bl-sys-padding-ms $bl-sys-padding-m;
  }
}

.snackbar--info {
  @include background-gradient(
    var(--info-bottom-background-color),
    var(--info-top-background-color),
    "top"
  )
}

.snackbar--success {
  @include background-gradient(
    var(--success-bottom-background-color),
    var(--success-top-background-color),
    "top"
  )
}

.snackbar--warning {
  @include background-gradient(
    var(--warning-bottom-background-color),
    var(--warning-top-background-color),
    "top"
  )
}

.snackbar--critical {
  @include background-gradient(
    var(--critical-bottom-background-color),
    var(--critical-top-background-color),
    "top"
  )
}

.snackbar__start {
  display: flex;
  align-items: center;
  gap: $bl-sys-gap-s;

  @media (min-width: $bl-prim-breakpoint-medium-screen) {
    gap: $bl-sys-gap-ms;
  }
}

.snackbar__icon {
  display: flex;
  
  @media (max-width: $bl-prim-breakpoint-medium-screen) {
    width: $bl-sys-size-xs;
  }
}

.snackbar__content {
  display: flex;
  flex-direction: column;
}

.snackbar__title {
  @include title-3();
}

.snackbar__message {
  @include body-2();
}