@use '../../tokens' as *;

@mixin button-colors($color) {
  --hover-outlined-background-color: #{$bl-sys-color-neutral-opacity-10};
  --active-outlined-background-color: #{$bl-sys-color-neutral-opacity-20};

  html[data-theme="light"] & {

    --outlined-border-color: #{$bl-sys-color-neutral-200};
    --hover-outlined-border-color: #{$bl-sys-color-neutral-300};
    --active-outlined-border-color: #{$bl-sys-color-neutral-500};
  
    @if $color == 'neutral' {

      --filled-foreground-color: #{$bl-sys-color-light};
      --filled-static-background-color: #{$bl-sys-color-neutral-950};
      --default-filled-dynamic-background-color: #{$bl-sys-color-neutral-900};
      --hover-filled-dynamic-background-color: #{$bl-sys-color-neutral-800};
      --active-filled-dynamic-background-color: #{$bl-sys-color-neutral-700};
  
      --outlined-foreground-color: #{$bl-sys-color-neutral-700};
  
      --ghost-color: #{$bl-sys-color-neutral-700};
      --hover-ghost-color: #{$bl-sys-color-neutral-600};
      --active-ghost-color: #{$bl-sys-color-neutral-500};
    }
  
    @if $color == 'primary' {

      --filled-foreground-color: #{$bl-sys-color-light};
      --filled-static-background-color: #{$bl-sys-color-primary-900};
      --default-filled-dynamic-background-color: #{$bl-sys-color-primary-800};
      --hover-filled-dynamic-background-color: #{$bl-sys-color-primary-700};
      --active-filled-dynamic-background-color: #{$bl-sys-color-primary-600};

      --outlined-foreground-color: #{$bl-sys-color-primary-700};
  
      --ghost-color: #{$bl-sys-color-primary-700};
      --hover-ghost-color: #{$bl-sys-color-primary-600};
      --active-ghost-color: #{$bl-sys-color-primary-500};
    }
  
    @if $color == 'info' {

      --filled-foreground-color: #{$bl-sys-color-dark};
      --filled-static-background-color: #{$bl-sys-color-info-300};
      --default-filled-dynamic-background-color: #{$bl-sys-color-info-200};
      --hover-filled-dynamic-background-color: #{$bl-sys-color-info-100};
      --active-filled-dynamic-background-color: #{$bl-sys-color-info-050};
  
      --outlined-foreground-color: #{$bl-sys-color-info-700};
  
      --ghost-color: #{$bl-sys-color-info-700};
      --hover-ghost-color: #{$bl-sys-color-info-600};
      --active-ghost-color: #{$bl-sys-color-info-500};
    }
  
    @if $color == 'success' {

      --filled-foreground-color: #{$bl-sys-color-light};
      --filled-static-background-color: #{$bl-sys-color-success-700};
      --default-filled-dynamic-background-color: #{$bl-sys-color-success-600};
      --hover-filled-dynamic-background-color: #{$bl-sys-color-success-500};
      --active-filled-dynamic-background-color: #{$bl-sys-color-success-400};
  
      --outlined-foreground-color: #{$bl-sys-color-success-700};
  
      --ghost-color: #{$bl-sys-color-success-700};
      --hover-ghost-color: #{$bl-sys-color-success-600};
      --active-ghost-color: #{$bl-sys-color-success-500};
    }
  
    @if $color == 'warning' {

      --filled-foreground-color: #{$bl-sys-color-dark};
      --filled-static-background-color: #{$bl-sys-color-warning-400};
      --default-filled-dynamic-background-color: #{$bl-sys-color-warning-300};
      --hover-filled-dynamic-background-color: #{$bl-sys-color-warning-200};
      --active-filled-dynamic-background-color: #{$bl-sys-color-warning-100};
  
      --outlined-foreground-color: #{$bl-sys-color-warning-700};
  
      --ghost-color: #{$bl-sys-color-warning-700};
      --hover-ghost-color: #{$bl-sys-color-warning-600};
      --active-ghost-color: #{$bl-sys-color-warning-500};
    }
  
    @if $color == 'critical' {

      --filled-foreground-color: #{$bl-sys-color-light};
      --filled-static-background-color: #{$bl-sys-color-critical-800};
      --default-filled-dynamic-background-color: #{$bl-sys-color-critical-700};
      --hover-filled-dynamic-background-color: #{$bl-sys-color-critical-600};
      --active-filled-dynamic-background-color: #{$bl-sys-color-critical-500};
  
      --outlined-foreground-color: #{$bl-sys-color-critical-700};
  
      --ghost-color: #{$bl-sys-color-critical-700};
      --hover-ghost-color: #{$bl-sys-color-critical-600};
      --active-ghost-color: #{$bl-sys-color-critical-500};
    }
  }

  html[data-theme="dark"] & {


    --outlined-border-color: #{$bl-sys-color-neutral-800};
    --hover-outlined-border-color: #{$bl-sys-color-neutral-700};
    --active-outlined-border-color: #{$bl-sys-color-neutral-500};
  
    @if $color == 'neutral' {

      --filled-foreground-color: #{$bl-sys-color-dark};
      --filled-static-background-color: #{$bl-sys-color-light};
      --default-filled-dynamic-background-color: #{$bl-sys-color-neutral-050};
      --hover-filled-dynamic-background-color: #{$bl-sys-color-neutral-100};
      --active-filled-dynamic-background-color: #{$bl-sys-color-neutral-200};
  
      --outlined-foreground-color: #{$bl-sys-color-neutral-300};
  
      --ghost-color: #{$bl-sys-color-neutral-300};
      --hover-ghost-color: #{$bl-sys-color-neutral-400};
      --active-ghost-color: #{$bl-sys-color-neutral-500};
    }
  
    @if $color == 'primary' {

      --filled-foreground-color: #{$bl-sys-color-light};
      --filled-static-background-color: #{$bl-sys-color-primary-900};
      --default-filled-dynamic-background-color: #{$bl-sys-color-primary-800};
      --hover-filled-dynamic-background-color: #{$bl-sys-color-primary-700};
      --active-filled-dynamic-background-color: #{$bl-sys-color-primary-600};
  
      --outlined-foreground-color: #{$bl-sys-color-primary-300};
  
      --ghost-color: #{$bl-sys-color-primary-300};
      --hover-ghost-color: #{$bl-sys-color-primary-400};
      --active-ghost-color: #{$bl-sys-color-primary-500};
    }
  
    @if $color == 'info' {

      --filled-foreground-color: #{$bl-sys-color-dark};
      --filled-static-background-color: #{$bl-sys-color-info-300};
      --default-filled-dynamic-background-color: #{$bl-sys-color-info-200};
      --hover-filled-dynamic-background-color: #{$bl-sys-color-info-100};
      --active-filled-dynamic-background-color: #{$bl-sys-color-info-050};
  
      --outlined-foreground-color: #{$bl-sys-color-info-300};
  
      --ghost-color: #{$bl-sys-color-info-300};
      --hover-ghost-color: #{$bl-sys-color-info-400};
      --active-ghost-color: #{$bl-sys-color-info-500};
    }
  
    @if $color == 'success' {

      --filled-foreground-color: #{$bl-sys-color-light};
      --filled-static-background-color: #{$bl-sys-color-success-700};
      --default-filled-dynamic-background-color: #{$bl-sys-color-success-600};
      --hover-filled-dynamic-background-color: #{$bl-sys-color-success-500};
      --active-filled-dynamic-background-color: #{$bl-sys-color-success-400};
  
      --outlined-foreground-color: #{$bl-sys-color-success-300};
  
      --ghost-color: #{$bl-sys-color-success-300};
      --hover-ghost-color: #{$bl-sys-color-success-400};
      --active-ghost-color: #{$bl-sys-color-success-500};
    }
  
    @if $color == 'warning' {

      --filled-foreground-color: #{$bl-sys-color-dark};
      --filled-static-background-color: #{$bl-sys-color-warning-400};
      --default-filled-dynamic-background-color: #{$bl-sys-color-warning-300};
      --hover-filled-dynamic-background-color: #{$bl-sys-color-warning-200};
      --active-filled-dynamic-background-color: #{$bl-sys-color-warning-100};
  
      --outlined-foreground-color: #{$bl-sys-color-warning-300};
  
      --ghost-color: #{$bl-sys-color-warning-300};
      --hover-ghost-color: #{$bl-sys-color-warning-400};
      --active-ghost-color: #{$bl-sys-color-warning-500};
    }
  
    @if $color == 'critical' {

      --filled-foreground-color: #{$bl-sys-color-light};
      --filled-static-background-color: #{$bl-sys-color-critical-800};
      --default-filled-dynamic-background-color: #{$bl-sys-color-critical-700};
      --hover-filled-dynamic-background-color: #{$bl-sys-color-critical-600};
      --active-filled-dynamic-background-color: #{$bl-sys-color-critical-500};
  
      --outlined-foreground-color: #{$bl-sys-color-critical-300};
  
      --ghost-color: #{$bl-sys-color-critical-300};
      --hover-ghost-color: #{$bl-sys-color-critical-400};
      --active-ghost-color: #{$bl-sys-color-critical-500};
    }
  }
}