@use '../../tokens' as *;
@use '../../abstract' as *;
@use './button-colors' as *;

.button {
  display: block;
  width: fit-content;
  cursor: pointer;

  padding: $bl-sys-padding-s $bl-sys-padding-m;
  border-radius: $bl-sys-border-radius-m;

  @include pointer-event-transition(all);

  @include label-2();

  &.button-neutral {
    @include button-colors('neutral');
  }

  &.button-primary {
    @include button-colors('primary');
  }

  &.button-info {
    @include button-colors('info');
  }

  &.button-success {
    @include button-colors('success');
  }

  &.button-warning {
    @include button-colors('warning');
  }

  &.button-critical {
    @include button-colors('critical');
  }

  &.button-filled {
    color: var(--filled-foreground-color);

    html[data-theme="light"] &.button-neutral,
    html[data-theme="light"] &.button-primary,
    html[data-theme="light"] &.button-info,
    html[data-theme="light"] &.button-success,
    html[data-theme="light"] &.button-warning,
    html[data-theme="light"] &.button-critical,
    html[data-theme="dark"] &.button-primary,
    html[data-theme="dark"] &.button-info,
    html[data-theme="dark"] &.button-success,
    html[data-theme="dark"] &.button-warning,
    html[data-theme="dark"] &.button-critical {
      @include background-gradient(var(--filled-static-background-color), var(--default-filled-dynamic-background-color), "top");
    }

    html[data-theme="dark"] &.button-neutral {
      @include background-gradient(var(--filled-static-background-color), var(--default-filled-dynamic-background-color), "bottom");
    }

    &:not(:disabled):hover {
      html[data-theme="light"] &.button-neutral,
      html[data-theme="light"] &.button-primary,
      html[data-theme="light"] &.button-info,
      html[data-theme="light"] &.button-success,
      html[data-theme="light"] &.button-warning,
      html[data-theme="light"] &.button-critical,
      html[data-theme="dark"] &.button-primary,
      html[data-theme="dark"] &.button-info,
      html[data-theme="dark"] &.button-success,
      html[data-theme="dark"] &.button-warning,
      html[data-theme="dark"] &.button-critical {
        @include background-gradient(var(--filled-static-background-color), var(--hover-filled-dynamic-background-color), "top");
      }

      html[data-theme="dark"] &.button-neutral {
        @include background-gradient(var(--filled-static-background-color), var(--hover-filled-dynamic-background-color), "bottom");
      }
    }

    &:not(:disabled):active {
      html[data-theme="light"] &.button-neutral,
      html[data-theme="light"] &.button-primary,
      html[data-theme="light"] &.button-info,
      html[data-theme="light"] &.button-success,
      html[data-theme="light"] &.button-warning,
      html[data-theme="light"] &.button-critical,
      html[data-theme="dark"] &.button-primary,
      html[data-theme="dark"] &.button-info,
      html[data-theme="dark"] &.button-success,
      html[data-theme="dark"] &.button-warning,
      html[data-theme="dark"] &.button-critical {
        @include background-gradient(var(--filled-static-background-color), var(--active-filled-dynamic-background-color), "top");
      }

      html[data-theme="dark"] &.button-neutral {
        @include background-gradient(var(--filled-static-background-color), var(--active-filled-dynamic-background-color), "bottom");
      }
    }
  }

  &.button-outlined {
    color: var(--outlined-foreground-color);
    background-color: transparent;
    border: $bl-sys-stroke-width-s solid;
    border-color: var(--outlined-border-color);

    &:not(:disabled):hover {
      background-color: var(--hover-outlined-background-color);
      border-color: var(--hover-outlined-border-color);
    }

    &:not(:disabled):active {
      background-color: var(--active-outlined-background-color);
      border-color: var(--active-outlined-border-color);
    }
  }

  &.button-ghost {
    padding: $bl-sys-padding-xs $bl-sys-padding-ms;
    color: var(--ghost-color);
    background: none;

    &:not(:disabled):hover {
      color: var(--hover-ghost-color);
      background: none;
    }

    &:not(:disabled):active {
      color: var(--active-ghost-color);
      background: none;
    }
  }
  
  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &.button-with-icon {
    display: flex;
    align-items: center;
    gap: $bl-sys-gap-xs;
  }
}