@use '../../tokens' as *;
@use '../../abstract/' as *;
@use './icon-button-colors' as *;

.icon-button {
  display: flex;
  cursor: pointer;

  padding: $bl-sys-padding-xs $bl-sys-padding-xs;
  border-radius: $bl-sys-border-radius-full;

  @include pointer-event-transition(all);

  @include icon-button-colors('default');

  &.button-neutral {
    @include icon-button-colors('neutral');
  }

  &.button-primary {
    @include icon-button-colors('primary');
  }

  &.button-info {
    @include icon-button-colors('info');
  }

  &.button-success {
    @include icon-button-colors('success');
  }

  &.button-warning {
    @include icon-button-colors('warning');
  }

  &.button-critical {
    @include icon-button-colors('critical');
  }

  color: var(--foreground-color);
  background-color: transparent;

  &:enabled:hover {
    background-color: var(--hover-background-color);
  }

  &:enabled:active {
    background-color: var(--active-background-color);
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}