@use '../../tokens' as *;
@use '../../abstract/' as *;
@use './button-colors' as *;

.small-button {
  display: block;
  width: fit-content;
  cursor: pointer;

  padding: $bl-sys-padding-xxs $bl-sys-padding-xs;
  border-radius: $bl-sys-border-radius-ms;

  @include pointer-event-transition(all);

  @include label-3();

  @include button-colors('default');

  &.button-neutral {
    @include button-colors('neutral');
  }

  &.button-primary {
    @include button-colors('primary');
  }

  &.button-info {
    @include button-colors('info');
  }

  &.button-success {
    @include button-colors('success');
  }

  &.button-warning {
    @include button-colors('warning');
  }

  &.button-critical {
    @include button-colors('critical');
  }

  &.button-filled {
    color: var(--filled-foreground-color);

    html[data-theme="light"] &.button-neutral,
    html[data-theme="light"] &.button-primary,
    html[data-theme="light"] &.button-info,
    html[data-theme="light"] &.button-success,
    html[data-theme="light"] &.button-warning,
    html[data-theme="light"] &.button-critical,
    html[data-theme="dark"] &.button-primary,
    html[data-theme="dark"] &.button-info,
    html[data-theme="dark"] &.button-success,
    html[data-theme="dark"] &.button-warning,
    html[data-theme="dark"] &.button-critical {
      @include background-gradient(var(--filled-static-background-color), var(--default-filled-dynamic-background-color), "top");
    }

    html[data-theme="dark"] &.button-neutral {
      @include background-gradient(var(--filled-static-background-color), var(--default-filled-dynamic-background-color), "bottom");
    }

    &:enabled:hover {
      html[data-theme="light"] &.button-neutral,
      html[data-theme="light"] &.button-primary,
      html[data-theme="light"] &.button-info,
      html[data-theme="light"] &.button-success,
      html[data-theme="light"] &.button-warning,
      html[data-theme="light"] &.button-critical,
      html[data-theme="dark"] &.button-primary,
      html[data-theme="dark"] &.button-info,
      html[data-theme="dark"] &.button-success,
      html[data-theme="dark"] &.button-warning,
      html[data-theme="dark"] &.button-critical {
        @include background-gradient(var(--filled-static-background-color), var(--hover-filled-dynamic-background-color), "top");
      }

      html[data-theme="dark"] &.button-neutral {
        @include background-gradient(var(--filled-static-background-color), var(--hover-filled-dynamic-background-color), "bottom");
      }
    }

    &:enabled:active {
      html[data-theme="light"] &.button-neutral,
      html[data-theme="light"] &.button-primary,
      html[data-theme="light"] &.button-info,
      html[data-theme="light"] &.button-success,
      html[data-theme="light"] &.button-warning,
      html[data-theme="light"] &.button-critical,
      html[data-theme="dark"] &.button-primary,
      html[data-theme="dark"] &.button-info,
      html[data-theme="dark"] &.button-success,
      html[data-theme="dark"] &.button-warning,
      html[data-theme="dark"] &.button-critical {
        @include background-gradient(var(--filled-static-background-color), var(--active-filled-dynamic-background-color), "top");
      }

      html[data-theme="dark"] &.button-neutral {
        @include background-gradient(var(--filled-static-background-color), var(--active-filled-dynamic-background-color), "bottom");
      }
    }
  }

  &.button-outlined {
    color: var(--outlined-foreground-color);
    html[data-theme="light"] & {
      @include background-gradient(var(--outlined-static-background-color), var(--default-outlined-dynamic-background-color), "bottom");
    }
    html[data-theme="dark"] & {
      @include background-gradient(var(--outlined-static-background-color), var(--default-outlined-dynamic-background-color), "top");
    }
    border: 1px solid;
    border-color: var(--outlined-border-color);

    &:enabled:hover {
      html[data-theme="light"] & {
        @include background-gradient(var(--outlined-static-background-color), var(--hover-outlined-dynamic-background-color), "bottom");
      }
      html[data-theme="dark"] & {
        @include background-gradient(var(--outlined-static-background-color), var(--hover-outlined-dynamic-background-color), "top");
      }
      border-color: var(--hover-outlined-border-color);
    }

    &:enabled:active {
      html[data-theme="light"] & {
        @include background-gradient(var(--outlined-static-background-color), var(--active-outlined-dynamic-background-color), "bottom");
      }
      html[data-theme="dark"] & {
        @include background-gradient(var(--outlined-static-background-color), var(--active-outlined-dynamic-background-color), "top");
      }
      border-color: var(--active-outlined-border-color);
    }
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &.button-with-icon {
    display: flex;
    gap: $bl-sys-gap-xxs;
  }
}