@use '../tokens' as *;
@use '../abstract' as *;

*::selection {
  background-color: $bl-sys-color-primary-600;
  color: $bl-sys-color-neutral-050;
}

body {
  --layout-column-number: 4;

  @media (min-width: $bl-prim-breakpoint-small-screen) {
    --layout-column-number: 8;
  }

  @media (min-width: $bl-prim-breakpoint-medium-screen) {
    --layout-column-number: 12;
  }

  html[data-theme="light"] & {
    --background-color: #{$bl-sys-color-light};
    --foreground-color: #{$bl-sys-color-dark};
  }

  html[data-theme="dark"] & {
    --background-color: #{$bl-sys-color-dark};
    --foreground-color: #{$bl-sys-color-light};
  }

  max-width: calc(100vw - 2 * $layout-margin);
  margin-inline: auto;
  overflow-x: hidden;
  background: var(--background-color);
  color: var(--foreground-color);
}

[disabled] { 
  pointer-events: cursor;
}

span:has(> svg) {
  display: grid;
}