@use '../tokens' as *;
@use '../abstract' as *;

*::selection {
  html[data-theme="light"] & {
    background-color: $bl-sys-color-primary-600;
    color: $bl-sys-color-neutral-050;
  }

  html[data-theme="dark"] & {
    background-color: $bl-sys-color-secondary-400;
    color: $bl-sys-color-neutral-950;
  }
}

body {
  --layout-number-of-columns: 4;
  --layout-column-width: 48px;

  @media (min-width: $bl-prim-breakpoint-small-screen) {
    --layout-number-of-columns: 8;
  }

  @media (min-width: $bl-prim-breakpoint-medium-screen) {
    --layout-column-width: 96px;
  }

  @media (min-width: $bl-prim-breakpoint-large-screen) {
    --layout-number-of-columns: 12;
  }

  html[data-theme="light"] & {
    --background-color: #{$bl-sys-color-light};
    --foreground-color: #{$bl-sys-color-neutral-950};
  }

  html[data-theme="dark"] & {
    --background-color: #{$bl-sys-color-neutral-950};
    --foreground-color: #{$bl-sys-color-light};
  }

  @include get-column-width(--layout-number-of-columns);
  width: var(--got-width);
  margin-inline: auto;
  overflow-x: hidden;
  background: var(--background-color);
  color: var(--foreground-color);
}

[disabled] {
  pointer-events: cursor;
}

span:has(> svg) {
  display: grid;
}