@use '../tokens' as *;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;

  &::selection {
    background-color: $bl-sys-color-primary-500;
    color: $bl-sys-color-neutral-050;
  }
}

body {
  html[data-theme="light"] & {
    --background-color: #{$bl-sys-color-light};
    --foreground-color: #{$bl-sys-color-dark};
  }

  html[data-theme="dark"] & {
    --background-color: #{$bl-sys-color-dark};
    --foreground-color: #{$bl-sys-color-light};
  }

  max-width: 100vw;
  overflow-x: hidden;
  background: var(--background-color);
  color: var(--foreground-color);
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  border-radius: 0;
}

input[type=number] {
  appearance: none;
  -moz-appearance: textfield;
}

[disabled] { 
  pointer-events: cursor;
}