@use '../tokens' as *;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  max-width: 100vw;
  overflow-x: hidden;

  html[data-theme="light"] & {
    background: $bl-sys-color-light;
  }

  html[data-theme="dark"] & {
    background: $bl-sys-color-dark;
  }
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  border-radius: 0;
}

[disabled] { 
  pointer-events: cursor;
}