* {
  padding: 0;
  margin: 0;
  list-style: none;
  
  &, ::before, ::after {
    box-sizing: border-box;
  }
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  border-radius: 0;
}

input[type=number] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

select {
  // appearance: none;
  border: none;
  background: none;
}