<div class="select" id="select-element">
  <button
    type="button"
    class="select__button"
    role="combobox"
    aria-controls="select-dropdown"
    aria-haspopup="listbox"
    aria-expanded="false"
    id="select-button"
  >
    <span class="select__label">Label</span>
    <span class="select__arrow">
      <svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.51472 9.48529L11.2929 17.2635C11.6834 17.654 12.3166 17.654 12.7071 17.2635L20.4853 9.48529L19.0711 8.07108L12 15.1421L4.92893 8.07108L3.51472 9.48529Z"/>
      </svg>
    </span>
  </button>
  <ul class="select__dropdown" role="listbox" id="select-dropdown">
    <li class="select__option" role="option">
      <input
        type="radio"
        id="option-id"
        class="select__option"
        name="field-name"
        value="option-value"
      />
      <label for="option-id">Option</label>
    </li>
  </ul>
</div>