@use '../scss/base';
@use '../scss/components';

@use '../scss/abstract' as bl;

.navbar {
  background-color: black;
}

.page-footer {
  background-color: black;
}

section {
  height: 500px;
}

.intro {
  background-color: red;
}

.ending {
  background-color: blue;
}

.wrapper {
  display: flex;
}

.aside {
  flex: 0 0 auto;
  width: calc(3/12 * 100%);
}

.main-part {
  flex: 0 0 auto;
  width: calc(9/12 * 100%);
}

.content {
  display: flex;

  & > * {
    flex-grow: 1;
  }
}

.article-content {
  display: flex;

  & > * {
    flex-grow: 1;
  }
}

.bd {
  border: 1px solid black;
}